.cl {
	text-align: center;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.cl ul {
	display: inline-block;
}

.cl h1 {
	text-align: center;
	margin: 0;
}

.cl li {
	text-align: left;
}

.cl a {
	border-bottom: 1px solid transparent;
}

.cl a:hover {
	border-color: #CCC;
}