.entry dl {
	margin: 0;
}

.entry dt {
	font-weight: 300;
}

.entry .domain-name {
	text-transform: uppercase;
	font-size: 50%;
	letter-spacing: 0.8px;
}

.entry .domain-name::before {
	content: '(';
}

.entry .domain-name::after {
	content: ')';
}

.entry dl dd {
	display: inline;
	margin: 0;
	position: relative;
}

.entry dl dd:hover {
	color: #1C1C1C;
}

.entry dl dd::after {
	content: ', ';
}

.entry dl dd:last-child::after {
	content: '';
}

.not-found {
	text-align: center;
}