<div class='entry' track-scroll>
	<div ng-controller='SearchController'>
		<form class='search search--entry' ng-submit='submit()' ng-keydown='interceptKeys($event)'>
			<div class='contain'>
				<button type='submit' class='ok' title='Search'>
					<svg>
						<use xlink:href='#magnifier'></use>
					</svg>
				</button><!--
				--><input ng-model='topscope.query' ng-change='load(url())' type='text' autofocus='autofocus' autocomplete='off' placeholder='Search' id='query' />
			</div>

			<div class='contain relative'>
				<ul class='autocomplete autocomplete--entry' ng-show='autocompleteItems.length && topscope.query.length'  ng-class='{inactive: !autocompleteActive}'>
					<li ng-class='{active: $index === autocompleteSelection}' class='li-wrap' ng-repeat='item in autocompleteItems track by $index' ng-click='setSelection($index)'>
						{{item}}
					</li>
				</ul>
			</div>
		</form>
	</div>

	<nav class='entry-nav'>
		<ul>
			<li ng-repeat='definition in dict track by $index' ng-class='{current: isBelow($index)}' ng-click='goTo("anchor"+ $index)' >
				{{definition.variant}}<span ng-show='definition.partOfSpeech' class='part-of-speech'>, {{definition.partOfSpeech}}</span>
			</li>
		</ul>
	</nav>

	<div class='contain'>
		<dl>
			<div ng-repeat='definition in dict track by $index' class='definition'>
				<dt id='{{"anchor" + $index}}' mark-position>
					{{definition.variant}}
					<span ng-show='definition.partOfSpeech' class='part-of-speech'>, {{definition.partOfSpeech}}</span>
					<!-- <span class='caret'>
						<svg><use xlink:href='#caret'></use></svg>
					</span> -->
				</dt>
				<div ng-repeat='domain in definition.domains track by $index' class='domain'>
					<div class='domain-name'>{{domain.domain}}</div>
					<div class='dds'>
						<dd ng-repeat='translation in domain.translations track by $index'>{{translation}}</dd>
					</div>
				</div>
			</div>
		</dl>
	</div>	
</div>