<div class='entry'>
	<div ng-controller='AutocompleteController'>
		<form class='search search--entry' ng-submit='autocomplete.submit()' ng-keydown='autocomplete.interceptKeys($event)'>
			<div class='contain'>
				<button type='submit' class='ok' title='Search'>
					<svg>
						<use xlink:href='#magnifier'></use>
					</svg>
				</button><!--
				--><input full-focus ng-model='global.query' ng-change='autocomplete.disable(); autocomplete.fetch()' type='text' autofocus='autofocus' autocomplete='off' placeholder='Search' id='query' class='xl' />
			</div>

			<div class='contain'>
				<div class='relative'>
					<ul class='autocomplete autocomplete--entry' ng-show='autocomplete.list.length' ng-class='{inactive: !autocomplete.enabled}'>
						<li ng-class='{active: $index === autocomplete.selection}' class='li-wrap' ng-repeat='item in autocomplete.list track by $index' ng-click='autocomplete.setSelection($index); autocomplete.submit()'>
							{{item}}
						</li>
					</ul>
				</div>
			</div>
		</form>
	</div>

	<nav class='navigation relative' ng-show='dict.length > 1'>
		<ul keep-afloat>
			<li ng-repeat='definition in dict track by $index' ng-class='{current: isOnScreen($index)}' hash-link='anchor{{$index}}' title='Jump to {{definition.variant}}'>
				{{definition.variant}}<span ng-show='definition.partOfSpeech' class='part-of-speech'>, {{definition.partOfSpeech}}</span>
				<span class='anchor'>
					<svg><use xlink:href='#anchor'></use></svg>
				</span>
			</li>
		</ul>
	</nav>

	<dl ng-show='dict.length'>
		<div class='contain'>
			<div ng-repeat='definition in dict track by $index' class='definition' mark-position ng-init='defID = $index'>
				<dt id='{{"anchor" + $index}}' class='xl'>
					{{definition.variant}}<span ng-show='definition.partOfSpeech' class='part-of-speech'>, {{definition.partOfSpeech}}</span>
				</dt>
				<div ng-repeat='domain in definition.domains track by $index' class='domain' ng-init='domainID = $index'>
					<div class='domain-name'>{{domain.domain}}</div>
					<div class='dds'>
						<dd ng-repeat='translation in domain.translations track by $index' ng-init='id = "tr" + defID + domainID + $index'>{{translation}}</dd>
					</div>
				</div>
			</div>
		</div>
	</dl>

	<div class='contain' ng-show='responseStatus === 404'>
		<div class='not-found lg'>
			Not found.
		</div>
	</div>
</div>