<div class='contain'>
	<aside style='display:none'>
		<form class='search' ng-submit='submit()'>
			<div class='bar'>
				<input ng-model='topscope.query' type='text' autocomplete='off' autofocus='autofocus' placeholder='search' />
			</div>
		</form>
	</aside>

	<nav class='entry-nav'>
		<ul>
			<li ng-repeat='definition in dict track by $index'>
				{{definition.variant}}
				<span ng-show='definition.partOfSpeech' class='part-of-speech'>, {{definition.partOfSpeech}}</span>
			</li>
		</ul>
	</nav>

	<dl class='result'>
		<div ng-repeat='definition in dict track by $index' class='definition'>
			<dt>
				{{definition.variant}}
				<span ng-show='definition.partOfSpeech' class='part-of-speech'>, {{definition.partOfSpeech}}</span>
				<span class='caret'>
					<svg><use xlink:href='#caret'></use></svg>
				</span>
			</dt>
			<div ng-repeat='domain in definition.domains track by $index' class='domain'>
				<div class='domain-name'>{{domain.domain}}</div>
				<div class='definitions'>
					<dd ng-repeat='translation in domain.translations track by $index'>{{translation}}</dd>
				</div>
			</div>
		</div>
	</dl>
</div>
