

<form class='search contain' ng-submit='submit()' ng-keydown='interceptKeys($event)'>
	<div class='logo' style='display: none'>
		<span></span>
	</div>
	<div class='bar'>
		<label for='query'>Search to your heart's extent</label>
			<input ng-model='topscope.query' ng-change='load(url())' type='text' autofocus='autofocus' autocomplete='off' placeholder='Search' class='bar' id='query' />
	</div>
</form>

<ul class='autocomplete' ng-show='autocompleteItems.length && topscope.query.length'  ng-class='{inactive: !autocompleteActive}'>
	<li ng-class='{active: $index === autocompleteSelection}' class='li-wrap' ng-repeat='item in autocompleteItems track by $index'>
		<span class='contain'>{{item}}</span>
	</li>
</ul>
