<form class='search contain' ng-submit='submit()' ng-keydown='interceptKeys($event)'>
	<div class='bar'>
		<label for='query'>Search to your heart's content</label>
		<div class='ok' ng-click='submit()'>
			<svg>
				<use xlink:href='#magnifier'></use>
			</svg>
		</div><!--
		--><input ng-model='topscope.query' ng-change='load(url())' type='text' autofocus='autofocus' autocomplete='off' placeholder='Search' class='bar' id='query' />
	</div>
</form>

<ul class='autocomplete' ng-show='autocompleteItems.length && topscope.query.length'>
	<li ng-class='{active: $index === autocompleteSelection}' class='li-wrap' ng-repeat='item in autocompleteItems track by $index'>
		<span class='contain'>{{item}}</span>
	</li>
</ul>
