ul.autocomplete {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}

ul.autocomplete> li {
	display: block;
	margin: var(--vertical-padding) 0;
}

ul.autocomplete> li.active {
	border-bottom: 2px solid #C8EAEA;
}

ul.autocomplete> li> span {
	display: block;
}