ul.autocomplete {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}

ul.autocomplete> li {
	display: block;
	padding: var(--padding);
}

ul.autocomplete> li.active {
	background-color: #DEF5F5;
}

ul.autocomplete> li> span {
	display: block;
}