:root {
	--border-color: rgba(0, 0, 0, 0.2);
	--section-margin: 3rem;
}

.default {
	--color: #333;
	--bright-color: #000000;
	--dim-color: #D4D4D4;
	--bg: #FFFFFF;
	--emphasis-bg: #DEF5F5;
	--stronger-emphasis-bg: #A9E5E5;
	--anchor: #8A8A8A;
}

.red {
	--color: #EBEBEB;
	--bright-color: #FFFFFF;
	--dim-color: #CC4E3E;
	--bg: #FF614D;
	--emphasis-bg: #CC4E3E;
	--stronger-emphasis-bg: #FFFFFF;
	--anchor: #EBEBEB;
}