@import 'nav.css';


.entry {
	font-size: 0.55rem;
}

.entry dl {
	margin: 0;
}

.entry .definition {
	margin-top: 2em;
	margin-bottom: 2em;
}

.entry dl dt {
	font-size: 2em;
}


.entry dl .dds {
	margin-left: 1em;
}

.entry dl dd {
	display: inline;
	margin: 0;
}

.entry dl dd:hover {
	color: #000;
}

.entry dl dd::after {
	content: ', ';
}

.entry dl dd:last-child::after {
	content: '';
}

.caret {
	display: inline-block;
	vertical-align: middle;
}

.caret > svg {
	width: 1em;
	height: 1em;
	stroke-width: 3;
	stroke: currentColor;
	fill: none;
	position: relative;
	top: 0.1em;
}
