footer {
	padding-top: var(--section-margin);
	padding-bottom: var(--section-margin);

	color: white;
	background-color: #333;
}

footer a,
footer a:link,
footer a:visited {
	color: inherit;
	text-decoration: none;
}

footer a {
	margin-right: 2em;
}