* {
	box-sizing: border-box;
}

:root {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 250%;
	color: #333;
}

.contain {
	width: 90%;
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (max-width: 560px) {
	:root {
		font-size: 7.1vw;
	}
}

.spritesheet {
	display: none;
}

.relative {
	position: relative;
}

::selection {
	background-color: var(--selection-color);
	color: inherit;
}

::-webkit-input-placeholder {
	color: inherit;
}

::placeholder {
	color: inherit;
}