* {
	box-sizing: border-box;
	line-height: calc(var(--lh) * var(--lh-multiplier)) !important;
}

:root {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 130%;
}

body {
	color: var(--color);
	background-color: var(--bg);
}

.contain {
	width: 100%;
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4.5rem;
	padding-right: 4.5rem;
}

@media (max-width: 560px) {
	:root {
		font-size: 3.95vw;
	}
}

.spritesheet {
	display: none;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed !important;
}

.mnstr {
	font-size: 2.75rem;
	--lh-multiplier: 3;
}

.xl {
	font-size: 2rem;
	--lh-multiplier: 2;
}

.lg {
	font-size: 1.5rem;
	--lh-multiplier: 2;
}

.md {
	font-size: 1.00rem;
}

.sm {
	font-size: 0.75rem;
}

::selection {
	background-color: var(--emphasis-bg);
	color: inherit;
}

::-webkit-input-placeholder {
	color: inherit;
}

::placeholder {
	color: inherit;
}

[ng-view] {
	min-height: 100vh;
}

.no-select {
	-webkit-user-select: none;
	        user-select: none;
}