* {
	box-sizing: border-box;
}

:root {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 130%;
	color: #333;
}

.contain {
	width: 100%;
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

@media (max-width: 560px) {
	:root {
		font-size: 3.95vw;
	}
}

.spritesheet {
	display: none;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed !important;
}

.mnstr {
	font-size: 2.75rem;
}

.xl {
	font-size: 2rem;
}

.lg {
	font-size: 1.25rem;
}

.md {
	font-size: 1.00rem;
}

.sm {
	font-size: 0.75rem;
}

::selection {
	background-color: var(--selection-color);
	color: inherit;
}

::-webkit-input-placeholder {
	color: inherit;
}

::placeholder {
	color: inherit;
}

[ng-view] {
	min-height: 100vh;
}