.navigation ul {
	list-style-type: none;

	position: absolute;
	top: var(--section-margin);
	left: 5%;

	margin: 0;
	padding: 0;
}

.navigation li {
	float: left;
	clear: both;

	padding: 0.25em 0.5em;
	border: 0 solid var(--acute-color);

	transition: all 0.3s linear;
	cursor: pointer;
}

.navigation li.current {
	border-left-width: 0.25em;
}

.navigation .anchor {
	position: relative;
	top: -0.25em;
}

.navigation .anchor svg {
	width: 0.5em;
	height: 0.5em;
	fill: #B1B1B1;
}

@media (max-width: 1150px) {
	.navigation {
		display: none;
	}
}