dl.result {
	margin: 0;
	font-size: 55%;
}

dt {
	font-size: 2em;
	margin-top: 1em;
}

.definitions {
	margin-left: 1em;
}

dd {
	display: inline;
	margin: 0;
}

dd:hover {
	color: #000;
}

dd:after {
	content: ', ';
}

dd:last-child:after {
	content: '';
}

.caret {
	display: inline-block;
	vertical-align: middle;
}

.caret > svg {
	width: 1em;
	height: 1em;
	stroke-width: 3;
	stroke: currentColor;
	fill: none;
	position: relative;
	top: 0.1em;
}

.entry-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}