.search {
	margin-top: 2em;
}

.search> .bar {
	display: flex;
	flex-wrap: nowrap;
	
	border: var(--border);

	overflow: hidden;
}

.search> .bar input {
	flex: 1 0 5em;
	width: 5em;

	padding: var(--padding);

	border: 0;
	color: inherit;
	appearance: none;
}

.search> .bar> .ok,
.search> .bar> input {
	transition: all 0.6s cubic-bezier(0.75,-0.6, 0.39, 1.35);
}

.search> .bar> .ok {
	flex: 0 0 auto;
	width: 3em;
	appearance: none;
	color: inherit;
	background-color: inherit;
	border: 0;
	padding: var(--padding);
	text-transform: uppercase;
	line-height: normal;
}

.search> .bar> input:focus,
.search> .bar> .ok:focus {
	outline: none;
}

.search> .bar> .ok.out {
	margin-right: -3em;
}

.search> .bar> .ok img {
	width: 1em;
	height: 1em;
}

::-webkit-input-placeholder {
	color: inherit;
}

::placeholder {
	color: inherit;
}

