.search {
	padding-bottom: var(--vertical-padding);
}

.search label {
	display: block;
	font-size: 0.5rem;

	-webkit-user-select: none;
	        user-select: none;
}

.search input {
	width: 100%;

	border: 0;
	color: inherit;
	background-color: inherit;
	appearance: none;
}

.search input:focus {
	outline: 0;
}

.search button.ok {
	display: inline-block;
	box-sizing: content-box;
	
	border: 0;
	padding: 0;

	background-color: inherit;
	color: inherit;
}

.search button.ok:focus {
	outline: 0;
}

.search button.ok> svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
}


.search--root {
	padding-top: 2rem;
}

.search--root input {
	font-size: 2rem;
}

.search--root label {
	color: #D4D4D4;
}

.search--root button.ok {
	width: 1em;
	height: 1em;
	margin: 0 1em 0 -2em;
}



.search--entry {
	padding: 3em 0;
	color: #3B3B3B;
	background-color: var(--selection-color);
}

.search--entry input {
	font-size: 2em;
}

.search--entry button.ok {
	width: 1.25em;
	height: 1.25em;
	margin: 0 1.25em 0 -2.5em;
}