.search {
	margin-top: 2rem;
}

.search> .bar {
	overflow: hidden;
	padding-bottom: var(--vertical-padding);
}

.search> .bar> label {
	display: block;
	font-size: 50%;
	color: #D4D4D4;

	-webkit-user-select: none;
	        user-select: none;
}

.search> .bar> input {
	width: 100%;
	font-size: 200%;

	border: 0;
	color: inherit;
	appearance: none;
}

.search> .bar> input {
	transition: all 0.6s cubic-bezier(0.75,-0.6, 0.39, 1.35);
}

.search> .bar> input:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: inherit;
}

::placeholder {
	color: inherit;
}

