<dl ng-show='master.dict.length'>

	<div class='definition' ng-repeat='definition in master.dict track by $index'>
			
		<dt>
			{{definition.variant}}<small ng-show='definition.partOfSpeech'>, {{definition.partOfSpeech}}</small>
		</dt>
		
		<div class='domain' ng-repeat='domain in definition.domains track by $index'>

			<div class='domain-name'>{{domain.domain}}</div>

			<div class='definitions'>

				<dd ng-repeat='translation in domain.translations track by $index'><a ng-href='/entry/{{translation}}/{{global.getLanguages()}}'>{{translation}}</a></dd>

			</div>

		</div>

	</div>

</dl>

<div ng-show='master.httpError' class='error'>

	<div ng-switch='master.httpError.status'>
		
		<div ng-switch-when='404'>

			<span class='error-code-tag'>404</span>
			<span class='error-text'>Ну извините.</span>

		</div>

		<div ng-switch-default>
			
			{{error.status}} {{error.statusText}}

		</div>

	</div>

</div>