<div ng-controller='AutocompleteController'>

	<div class='loading' ng-show='loading'></div>

	<div class='contain section'>

		<form class='search' ng-submit='autocomplete.submit()'>

			<div class='row'>

				<div class='col-10 offset-1'>

					<div class='langs no-select' ng-controller='LanguagesController'>
						<language ng-repeat='language in global.languages'></language>

						<button class='swap' ng-click='swapLanguages()'>
							<icon ref='refresh'></icon>
						</button>
					</div>
					
					<label for='query' class='no-select'>Search to Your Heart's Content</label>

				</div>

			</div>

			<div class='row'>

				<div class='col-1'>

					<button type='submit' class='ok lg triple-line pull-right' title='Search'>
						<icon ref='magnifier'></icon>
					</button>

				</div>

				<div class='col-10'>

					<input full-focus startup-focus ng-model='global.query' ng-change='autocomplete.disable(); autocomplete.fetch()' type='text' autofocus='autofocus' autocomplete='off' placeholder='Search' id='query' class='mnstr' />	

				</div>

			</div>

		</form>	
			
		<div class='row'>

			<div class='col-10 offset-1'>

				<ul class='autocomplete lg' ng-show='autocomplete.list.length' ng-class='{inactive: !autocomplete.enabled}'>
					<li ng-repeat='item in autocomplete.list track by $index' ng-class='{active: $index === autocomplete.selection}' ng-click='autocomplete.setSelection($index); autocomplete.submit()'>{{item}}</li>
					<hr />
				</ul>

			</div>	

		</div>

	</div>
	
</div>