<div ng-controller='AutocompleteController'>
		
	<div class='cf'>
		<div class='loading' ng-show='loading'></div>
	</div>

	<div class='contain section-start'>

		<form class='search' ng-submit='autocomplete.submit()'>

			<div>

				<div class='stick-out-offsetted cf'> 

					<div class='pull-right'>

						<div class='menu' ng-class='{open: modalOpen}'>

							<button type='button' class='menu-toggle' ng-click='modalOpen = modalOpen ? false : true'>

								<icon ref='burger'></icon>

							</button>

							<div class='menu-content'>
								
								<div class='langs no-select pull-right' ng-controller='LanguagesController'>

									<language ng-repeat='language in global.languages'></language>

									<button class='swap' ng-click='swapLanguages()'>
										
										<icon ref='refresh'></icon>

									</button>
									
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

			<div class='cf'>

				<div class='stick-out'>

					<button type='submit' class='ok lg lh3 pull-right' title='Search'>
						<icon ref='magnifier'></icon>
					</button>

				</div>

				<div class='relative bar'>

					<input full-focus ng-model='global.query' ng-change='autocomplete.disable(); autocomplete.fetch()' type='text' autocomplete='off' id='query' class='xl lh3 ie-lh-shim' />

					<label for='query' class='no-select label'>Search</label>

				</div>

			</div>

		</form>	
			
		<div>

			<div>

				<ol class='autocomplete' ng-show='autocomplete.list.length' ng-class='{inactive: !autocomplete.enabled}'>

					<li 
						class='lg cf' 
						ng-repeat='item in autocomplete.list track by $index' 
						ng-class='{active: $index === autocomplete.selection}' 
						ng-click='autocomplete.setSelection($index); autocomplete.submit()'
						>

						<a class='no-select oh'>

							<span>{{item}}</span>

						</a>

					</li>
					
					<hr class='section-end' />
					
				</ol>

			</div>	

		</div>

	</div>
	
</div>