ul.autocomplete.inactive {
	opacity: 0.5;
}

ul.autocomplete li {
	display: block;
	cursor: pointer;
}

ul.autocomplete li a {
	display: block;
	float: left;
	clear: both;
	border-bottom: 1px solid transparent;
}

ul.autocomplete li:hover a {
	border-color: #CCC;
}

ul.autocomplete li.active a {
	border-color: currentColor;
	border-color: #898A94;
}

ul.autocomplete> hr {
	width: 25%;
	clear: both;
	max-width: 100px;
	border: 0;
	border-bottom: 1px solid #CCC;
}