ul.autocomplete.inactive {
	opacity: 0.5;
}

ul.autocomplete> li {
	display: block;
	float: left;
	clear: both;
	
	cursor: pointer;
	-webkit-user-select: none;
	        user-select: none;

	border-bottom: 1px solid transparent;
}

ul.autocomplete> li:hover {
	border-color: var(--dim-color);
}

ul.autocomplete> li.active {
	border-color: currentColor;
	border-color: #898A94;
}

ul.autocomplete> hr {
	width: 25%;
	clear: both;
	max-width: 100px;
	margin-bottom: var(--section-margin);
	border: 0;
	border-bottom: 1px solid var(--dim-color);
}