:root {
	--border-color: rgba(0, 0, 0, 0.2);
	--lh: 1.5rem;
	--section-margin: calc(3 * var(--lh));
	--lh-multiplier: 1;
}

.default {
	--color: #525252;
	--color-on-bg: #555;
	--bright-color: #1C1C1C;
	--dim-color: #CCC;
	--bg: #FFFFFF;
	--emphasis-bg: #9F93E4; 
	--stronger-emphasis-bg: #98D0F1;
	--anchor: #8A8A8A;
}

.red {
	--color: #EBEBEB;
	--bright-color: #FFFFFF;
	--dim-color: #CC4E3E;
	--bg: #FF614D;
	--emphasis-bg: #CC4E3E;
	--stronger-emphasis-bg: #FFFFFF;
	--anchor: #EBEBEB;
}