footer {
	color: var(--dim-color);
}

footer a,
footer a:link,
footer a:visited {
	color: inherit;
	text-decoration: none;
}

footer a {
	margin-right: 2em;
}

footer .pull-right a {
	margin-right: 0;
}