* {
	box-sizing: border-box;
}

body {
	color: #525252;
	background-color: #FFF;
}

.contain {
	width: 100%;
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	/* background-color: rgba(0,255,0,0.2); */
}

.spritesheet {
	display: none;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed !important;
}

::-moz-selection {
	background-color: #9F93E4;
	color: #555;
}

::selection {
	background-color: #9F93E4;
	color: #555;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

::placeholder {
	color: inherit;
}

[ng-view] {
	min-height: 100vh;
}

.no-select {
	-webkit-user-select: none;
	        user-select: none;
}

.pull-right {
	float: right;
}

.globe {
	display: inline;
}

.icon {
	width: 1em;
	height: 1em;
	fill: currentColor;
	position: relative;
}

.clickable {
	cursor: pointer;
}

.cf::after,
.cf::before {
	content: '';
	display: table;
}

.cf::after {
	clear: both;
}

.dim {
	color: #CCC;
}

.oh {
	display: block;
	overflow: hidden;
}