language:first-child::after {
	content: '\2014 ';
}

.langs {
	white-space: nowrap;
}

.langs .swap {
	cursor: pointer;
	margin-left: 0.5em;
}

.langs .swap svg {
	width: 1.2em;
	height: 1.2em;
	margin-bottom: -0.2em;
}

.lang-menu {
	display: none;
	position: absolute;
	left: 0;
	z-index: 2;
}

.lang-menu li:hover {
	color: #1C1C1C;
}

.langs label {
	display: inline;
}

.langs [type=checkbox]:checked ~ ul {
	display: block;
}

.lang-toggle,
.langs .swap {
	border-bottom: 1px dashed transparent;
}

.langs [type=checkbox]:checked ~ .lang-toggle,
.langs [type=checkbox]:not([disabled]) ~ .lang-toggle:hover,
.langs .swap:hover {
	color: #1C1C1C;
	border-color: currentColor;
}

.lang-menu .dot {
	display: none;
	margin-left: -0.85em;
}

.lang-menu .dot svg {
	width: 0.4em;
	height: 0.4em;
	top: -0.2em;
}