.menu {
	position: relative;
	margin-bottom: -1.5rem;
	display: inline-block;
}

.menu-toggle {
	display: block;
	width:  1em;
	box-sizing: content-box;
	padding: 1.5rem;
	margin: -1.5rem;
	margin-bottom: 0;
	margin-right: 0;
}


.menu-content {
	display: none;
	padding: 1.5rem;
	background-color: #9F93E4;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 3;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.3);
}

.menu.open .menu-content {
	display: block;
}

.menu-toggle:hover,
.menu.open .menu-toggle {
	background-color: #9F93E4;
}

.menu-toggle:active {
	background-color: #7D6CDA !important;
}