.stick-out {
	float: left;
	width: 2rem;
	margin-right: 1.5rem;
	text-align: right;
}

.stick-out > * {
	float: right;
}

.stick-out + * {
	float: left;
}

.stick-out-offsetted {
	margin-left: 3.5rem;
}