$bar-pv: 0.5em; /* for vertical padding */
$bar-ph: 0.4em; /* for horizontal padding */
$bar-p:  $bar-pv $bar-ph;

$bar-border-width: 0.1em;
$bar-border: $bar-border-width solid currentColor;

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

:root {
	font-family: sans-serif;
	font-size: 300%;
	color: #3381FF;
}

.container {
	width: 14em;
	margin-left: auto;
	margin-right: auto;
}

/* bar.css */

.search {
}

.search> .bar {
	display: flex;
	flex-wrap: nowrap;
	
	margin-top: 2em;
	border: $bar-border;
}

.search> .bar input {
	flex: 1 0 5em;
	width: 5em;

	padding: $bar-p;

	border: 0;
	color: inherit;
	appearance: none;
}

.search> .bar> .ok {
	flex: 0 0 auto;

	appearance: none;
	color: inherit;
	background-color: inherit;
	border: 0;
	padding: $bar-p;
	border-left: $bar-border;
	text-transform: uppercase;
	line-height: normal;
}

.search> .bar> input:focus,
.search> .bar> .ok:focus {
	outline: none;
}

::placeholder {
	color: inherit;
}


/* hint.css */

ul.hint {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: $bar-border;
	transform: translateY(-$bar-border-width);
}

ul.hint:empty {
	border: 0;
}

.hint li {
	margin: $bar-p;
}