:root {
	font-family: sans-serif;
	color: #525252;
}

body {
	margin: 0;
}

.search> .bar {
	display: block;
	width: 8em;

	color: inherit;
	font-size: 800%;
	border: 0;
	border-bottom: 2px solid gray;
}

.search> .bar:focus {
	outline: none;
	border-bottom-color: currentColor;
}