html {
	font-size: 110%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: inherit;
	font-weight: 300;
	line-height: 1.8rem;
}

* {
	line-height: inherit;
}

.mnstr {
	font-size: 2.75rem;
	line-height: 5.4rem;
}

.mnstr.ie-lh-shim {
	height: 5.4rem;
}

.xl {
	font-size: 2.3rem;
	line-height: 3.6rem;
}

.lg {
	font-size: 1.25rem;
	line-height: 3.6rem;
}

.md {
	font-size: 1rem;
}

.sm {
	font-size: 0.75rem;
}

.lh2 {
	line-height: 3.6rem !important;
}

.lh3 {
	line-height: 5.4rem !important;
}

.lh3.ie-lh-shim {
	height: 5.4rem;
}

.mt1 {
	margin-top: 1.8rem;
}

.mb1 {
	margin-bottom: 1.8rem;
}

.section {
	margin-top: 5.4rem;
	margin-bottom: 5.4rem;
}

.section-start {
	margin-top: 5.4rem;
}

.section-end {
	margin-bottom: 5.4rem;
}


@media (max-width: 560px) {
	html {
		font-size: 3.70vw;
	}
}

[class*="col"] {
	padding-right: 30px !important;
	padding-left: 30px !important;
}