doctype html
html(ng-app='mt')
	head
		title Work in Progress
		link(rel='stylesheet', type='text/css', href='css/lib/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
	body
		div(ng-view)

		script(type='text/javascript', src='js/lib/jquery.min.js')
		script(type='text/javascript', src='js/lib/angular.min.js')
		script(type='text/javascript', src='js/lib/angular-route.min.js')
		script(type='text/javascript', src='js/script.js')