doctype html
html
	head
		title Work in Progress
		link(rel='stylesheet', type='text/css', href='css/lib/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		form#search.search.container
			.bar
				input#query.bar(type='text', autofocus='autofocus', autocomplete='off', placeholder='Search')
				button(type='submit').ok Ok
			input#langs(type='hidden', value='en-ru')


		script(type='text/javascript', src='js/lib/jquery.min.js')
		script(type='text/javascript', src='js/lib/virtual-dom.js')
		script(type='text/javascript', src='js/script.js')