doctype html
html
	head
		title Work in Progress
		//- link(rel='stylesheet' type='text/css' href='css/style.css')
	body
		form.search(method='post' action='/tr')
			input#search.bar(type='text' name='query' autofocus='autofocus' autocomplete='off' placeholder='Search')

		script(type='text/javascript' src='js/script.js')
		script(type='text/javascript' src='js/lib/jquery.min.js')